<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Postlist</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Main page</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><img [src]="userLogoPath" alt="" class="navbar-text img-login img-circle img-user-login"></li>
                <li><span class="navbar-text">{{ userName }}</span></li>
                <li><a class="login-link" (click)="onLogin()">{{ loginAction }}</a></li>
            </ul>
        </div>
    </div>
</nav>