<a class="list-group-item clearfix post-item" [routerLink]="['/post', postItem.id]" [state]="{post: postItem}">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ postItem.title }}</h4>
        <p class="list-group-item-text">{{ postItem.description }} <a>Read more...</a></p>
        <hr>
        <div class="row post-item__edit">
            <div class="col-xs-12">
                <button class="btn btn-primary align-bottom" type="button" (click)="onEditClick($event)">Edit</button>
                <button class="btn btn-danger" type="button" (click)="onDeleteClick($event)">Delete</button>
            </div>
        </div>
    </div>
    <span class="pull-right">
        <img [src]="postItem.imgPath" alt="" class="img-responsive post-item__img">
    </span>

</a>